@(message: String)

@main("Welcome to the Music") {

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div id="intro-text" class="intro-message">
                        <h1>Magical Music</h1>
                        <h3>Everything you ever wanted</h3>
                    </div>
                    <iframe id="youtube" width="1280" height="720" frameborder="0" allowfullscreen></iframe>
                    <textarea class="input" rows="4" cols="50" placeholder="Enter your mood here."></textarea><br />
                    <button class="input" id="submitMood">Get JSON Message</button>
                </div>
            </div>
        </div>
    </div>
}